body {

background-color: lavender;

}

li {

height: 300px;
width: 200px;
background-color: #B3CDE6;
list-style-type: none;
display: inline-block;
vertical-align: top;
box-sizing: border-box;
margin-right: 10px;
padding: 10px;
}
